<!-- components/header.html -->
<div class="top-bar">
  <div class="flags">
    <button data-lang="es" class="lang-btn">
      <span class="fi fi-es"></span>
    </button>
    <button data-lang="en" class="lang-btn">
      <span class="fi fi-gb"></span>
    </button>
    <button data-lang="fr" class="lang-btn">
      <span class="fi fi-fr"></span>
    </button>
    <button data-lang="it" class="lang-btn">
      <span class="fi fi-it"></span>
    </button>
    <button data-lang="ru" class="lang-btn">
      <span class="fi fi-ru"></span>
    </button>
  </div>

  <a
    href="index.html"
    class="back-btn"
    data-es="← Volver"
    data-en="← Back"
    data-fr="← Retour"
    data-it="← Indietro"
    data-ru="← Назад"
    >← Volver</a
  >
</div>
